.review-submit-btn {
  color: #fff;
  background: #333;
  border-radius: 4px;
  padding: 12px;
  font-size: 12px;
  cursor: pointer;
  transition: ease-in-out 0.1s;
  border: 1px solid #fff;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.review-submit-btn:hover {
  background: #fff;
  color: #000;
  border: 1px solid #fff;
}
